tmp
calcWs
pipeline-calculator-ws
calculator_ws/calculator_ws
deployments/aws/jenkins-ec2_instance/terraform.tfstate
deployments/aws/jenkins-ec2_instance/terraform.tfstate.backup
deployments/aws/jenkins-ec2_instance/.terraform/
deployments/aws/jenkins-ec2_instance/.terraform.tfstate.lock.info
deployments/aws/jenkins-ec2_instancemykey
deployments/aws/jenkins-ec2_instancemykey.pub
deployments/aws/ecs/terraform.tfstate
deployments/aws/ecs/terraform.tfstate.backup
deployments/aws/ecs/.terraform/
deployments/aws/ecs/.terraform.tfstate.lock.info
deployments/aws/ecs/mykey
deployments/aws/ecs/mykey.pub
